*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: "Nunito",sans-serif;
    background-image: url('https://img.freepik.com/premium-vector/weather-forecast-thin-line-seamless-pattern-background-white-include-sun-temperature-storm-cloud-rain-snow-thunderstorm-wind-vector-illustration_287964-3787.jpg');;

  }
  
  .input{
    text-align: center;
    margin: 100px auto;
    size: 50%;
  }
  
  input[type="submit"]{
    padding: 15px 30px;
    background: #e7e7e7;
    border: none;
    border-radius: 1px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 20px;
  }
  
  .input input[type="text"]{
    padding: 5px 10px;
    background: #e7e7e7;
    border: none;
    border-radius: 1px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 20px;
  }

  .card{
    height: 400px;
    background: rgba(227, 246, 255, 0.5);
    margin: 50px auto;
    border-radius: 10px;
   
  }
  
  
  .close{
    float: right;
    margin-top: -2px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  h1{
    padding: 5px 0;
    text-align: center;
  }
  
  .card p{
    text-align: center;
    margin:40px 0;
    font-size:20px;
  }